.social-icon{
  text-align: right;
padding-right: 8%;


}

.top-section{
  background-color: #1e2126;
  padding: 1% 0;
  text-align:center;
  color: #E8E8E8;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;

}

.social-item{
  padding-right: 7%;
}

.top-icon{
  padding-right: 3%;
}
.text-decoration{
  color: #E8E8E8;
}
.nav-brand{
  font-family: sans-serif;
color: #FFCD00;
font-weight: bold;
font-size: 2rem;
}

.nav-item{
  padding: 0 18px;
  font-size: 14px;
    font-family: "Montserrat";
    font-weight: bolder;
    text-transform: uppercase;
    color: #000;
}
.nav-item:hover{
  color: #ffcd00;
}
.color-brand{
  color: gray;
}
.logo-img{
  padding-bottom: 3%;
}

/* Carisel Item */

/* .testimonal-img{
width: 100%;
height: 40%px;
} */
/* .container-fluid {
  padding: 7% 15%;
  color: #fff;
  background-color:#1e2126;

}
.carousel-item{

}


#testimonials {
  color: #fff;
  background-color:#1e2126;

}

.testimonal-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
}

.testimonal-img {
  width: 100%;
  margin: 0px;
  height: 80%;
} */

.carosel-img{
  width: 100%;
  height: 450px;
}
.carusel-text{
  padding-left: 7%;
  font-size: 22px;
font-family: "Open Sans", sans-serif;
color: #fff;
font-weight: 600;
padding-top: 17px;
background-color: #1e2126;
}

.btn-carousel{
  padding: 0 0 2% 7%;
  line-height: 50px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}

/* Our-services */
.white-section{
  background-color: #fff;
  text-align: center;
}


.container-fluid {
  padding: 3% 15%;
}

.service-heading{
    font-family: "Montserrat";
    font-weight: bold;
    color: #ffcd00;
    text-align: center;
    padding: 3% 0 0;
    font-size: 4rem;
}
.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 11%;
}

.feature-box {
  padding: 5%;
}
.service-img{
  width:200px;
  height: 200px;
}
.service-icon{

}
.service-pad{
  padding-bottom: 1%;

}


/* Our projects */
* {
  box-sizing: border-box;
}

.our-projects{
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.project-row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.project-row,
.project-row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.project-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.project-btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.project-btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.project-btn.active {
  background-color: #666;
   color: white;
}

.project-h2{

}


/* Client */
.client{
  font-family: "Montserrat";
  font-weight: bold;
  color: #ffcd00;
  text-align: center;

  font-size: 4rem;
  background: #f5f5f5;
    padding: 90px 0px;

}
.client-logo{
  text-align: center;

}
/* Contact */
.google-section{
  padding: 1% 0 0;

}
.google-map{
  width: 100%;
}
.contact-bar{
float: left;
padding-right: 5%;
}

.contact-us{
  font-size: 18px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      color: #444444;

      background: #ffcd00;
    padding: 32px 0px;
}
.contact-bottom{
  background: #31353d;
padding: 70px 0px;
text-align: left;
color: #fff;
}
.color-contact{
  color: #ffcd00;
}
.contact-align{
  padding-left: 15%;
}
.contact-inner{

  padding: 7% 0 0 3%;

}
.contact-innericon{
  padding-left: 10%;

}
.line-h{
  line-height: 0.5;
}
.or-icon{
  padding-left: 25%;
}
/* Footer */

.footer {
  padding: 1% 15%;
  text-align: center;
}

.footer-icon{
  padding-left: 3%;
}
